<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome home</title>
  </head>

  <body>
    <h1 id="heading">Colour Demo Page</h1>
    <h2>Frontend greeting: {{ DEMO_GREETING }}</h2>
    <script>
      function setColoursFromApi() {
        var api_data = {{ JSON_DATA | safe }};
        document.body.style.background = api_data.background;
        document.getElementById("heading").style.background = api_data.foreground;
      }
      setColoursFromApi()
    </script>
  </body>

</html>
